body {
    background: #FFF;
    font-family: 'Poppins', sans-serif;
}


/* navbar */

.navbar {
    /* background-color: #FFF; */
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    color: #1e609b;
    transform: translateZ(0);
    transition: all 0.5s;
}

.navbar li a {
    color: #1e609b;
    margin-top: 10px;
}

.intro {
    background: url("../img/headerBg.png") no-repeat #FFF;
    min-height: 500px;
    color: #fff;
}

.intro h3 {
    text-align: center;
    font-size: 3em;
}

.intro h1 {
    font-size: 3.2em;
    font-weight: 900;
}

.intro h2 {
    font-size: 1.5em;
}

.intro hr {
    border: 1px solid #FFF;
}

.aboutUs {
    background: url("../img/aboutBg.png") no-repeat #FFF;
    min-height: 500px;
    color: #0b4d85;
}

.aboutUs p {
    font-size: 1.5em;
    font-weight: 700;
}

.services {
    background: url("../img/servicesBg.png") no-repeat #FFF;
    color: #FFF;
}

.services ul li {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.services h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 10px;
}

.services hr {
    border-top: 2px solid;
    width: 70%;
    margin-left: 10px;
}

.carousel {
    width: 100%;
}

.products h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
}

.img-height {
    height: 100%;
}

.products p {
    font-size: 1em;
    font-weight: 700;
    color: #4d4d4d;
    text-align: center;
}

.carousel-control-prev-icon {
    width: 25pt;
    height: 55pt;
    background-image: url("../img/prev.png");
}

.carousel-control-next-icon {
    width: 25pt;
    height: 55pt;
    background-image: url("../img/next.png");
}