@font-face {
    font-family: 'humanst';
    src: url(tt0290m_.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(PoppinsMedium.ttf);
}

@font-face {
    font-family: 'humanstBt';
    src: url(tt0292m_.ttf);
}

  

body {
    background: #fff;
    font-family: 'humanst', sans-serif;
    color: #0693b8;
}


/* navbar */

.navbar {
    /* background-color: #FFF; */
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    color: #0693b8;
    transform: translateZ(0);
    transition: all 0.5s;
}

.navbar li a {
    color: #0693b8;
    margin-top: 10px;
    font-weight: 900;
}

.intro {
    background: url(../img/headerBg.png) no-repeat #175993;
    color: #fff;
    min-height: calc(100vh - 140px);
    display: table;
    background-position-y: center;
}
.intro .row {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

.intro h3 {
    text-align: center;
    font-size: 3em;
    margin-top: .2em;
}

.intro h1 {
    font-size: 3.2em;
    font-weight: 900;
    font-family: 'humanstBt';
    text-align: center;
    line-height: 50pt;
}
.intro h1 b {
    font-size: 1.5em;
 }

.intro h2 {
    font-size: 1.5em;
    text-align: center;
}

.ourClientLink {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    text-transform: uppercase;
    display: block;
}
.ourClientLink:hover  {
    color: #FFF;
}

.intro hr {
    border: 1px solid #FFF;
}

.aboutUs {
    background: url("../img/aboutBg.png") no-repeat #FFF;
    min-height: 500px;
    color: #0b4d85;
}

.aboutUs p {
    font-size: 1.5em;
    font-weight: 700;
}

.servicesList {
    list-style: none; /* Remove default bullets */
  }
  
  .servicesList li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    height: 1em;
    background: red;
    border-radius: 50px;
    position: relative;
    top: 7px;
    left: -15px;
  }

.services {
    background: url("../img/servicesBg.png") no-repeat #FFF;
    color: #FFF;
}

.services ul li {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.services h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 10px;
    margin-left: 10px;
}

.services hr {
    border-top: 2px solid;
    width: 70%;
    margin-left: 10px;
}

.carousel {
    width: 100%;
}

.aboutUs, .services, .clients, .products, .contact-us, .product-section {
    min-height: calc(100vh - 50px);
}

.products {
    background: url("../img/aboutBg.png") no-repeat #FFF;
}

.products h1 {
    color: #393683;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
}

.img-height {
    height: 100%;
}

.img-height img, .products-household img {
    margin: 0 auto;
    display: block;
}

.products p {
    font-size: 1em;
    font-weight: 700;
    color: #393683;
    text-align: center;
    text-transform: uppercase;
}

.products a {
    text-decoration: none;
}

.carousel-control-prev-icon {
    width: 25pt;
    height: 55pt;
    background-image: url("../img/prev.png");
}

.carousel-control-next-icon {
    width: 25pt;
    height: 55pt;
    background-image: url("../img/next.png");
}

.clients h1 {
    font-size: 3em;
    font-weight: 700;
    color: #FFF;
}

.contact-us {
    background-color: #0e94b9;
}

.contact-us h2 {
    color: #FFF;
    font-size: 2.5em;
    font-weight: 700;
}

.contact-us button {
    border: 1px solid #cccccc;
    background: #cccccc;
    border-radius: 0px;
    padding: 10px 35px 10px 35px;
    margin-right: 19px;
    margin-bottom: 20px;
    color: #04647d;
}

.contact-us p {
    color: #FFF;
    font-size: 1.3em;
    font-weight: 600;
}

.contact-us span {
    font-weight: 200;
    font-size: 0.9em;
}

.form-control {
    border-radius: 0px;
}

.footer {
    background-color: #0b4d85;
}

.footer ul {
    display: inline-flex;
    list-style-type: none;
}

.footer ul li a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

.footer span {
    color: #FFF;
}

.footer p {
    margin-left: 3rem;
    color: #FFF;
    font-size: 1em;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #FFF;
}
.navbar .container { position:relative}

.call-info {
    position: absolute;
    right: 7%;
    top: 10%;
    text-transform: uppercase;
    font-size: 12pt;
    color: #0693b8;
}

.call-info span a, .call-info a span {
    font-family: 'Poppins';
    color: #0693b8
}
.aboutUs a {
    float: right;
    font-size: 1.5em;
    color: #04647d;
    font-weight: 600;
    margin-right: 20px;
}

.aboutUs .services a:hover {
    text-decoration: none;
}

.services a {
    color: #fff;
    font-size: .9em;
    font-weight: 600;
    text-decoration: none;
}

.about-header {
    background-color: #e5e7e7;
    color: #383195;
    padding: .9em;
    font-size: 5em;
}

.about-header h1 {
    font-size: 1em;
}

.about-header-para {
    color: #42737f;
    font-size: 1.3em;
}

.products-header {
    /*background-image: url("../img/product-slider1.png");*/
    min-height: 450px;
}

.product-section h1 {
    color: #fff;
    text-transform: uppercase;
}

.product-section p {
    text-transform: uppercase;
    color: #186dae;
    text-align: center;
}

.services-section {
    color: #0663a6;
    font-size: 1.5em;
    font-weight: 500;
}

.services-section span {
    font-weight: 800;
}

/*sticky header position*/
.sticky {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 1000 !important;
    width: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #FFF;
  }
  .sticky .logo, .sticky .call-info { display:none; }
  .sticky .collapse { margin-top:0em !important; }
  .sticky .collapse .navbar-nav { margin-right: 7% !important; }

  *:focus {
    outline: none;
}